h1 {
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 96;
}


.hero {
    background-color: rgba(250, 172, 55, 0.67);
    text-align: center;
}