
h1 {
    color: rgb(155, 131, 82);
}




.hero {
    background-color: rgba(250, 172, 55, 0.67);
    text-align: center;
}

.hero p {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
}