
.hero {
    text-align: center;
    background-color:  #00bbf0;
}

.hero p {
    font-size: 26px;
    
}

/*
.btn {
    background-color: #fdb44b; 
    padding: 20px;
    margin: 0;
    border-radius: 5px;
    align-items: center;
}