
h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.hero {
    background-color: rgba(238, 67, 193, 0.333);
    text-align: center;
}

.hero h1 {
    color: rgb(243, 0, 40);
}

.hero h2 {
    font-family: "Montserrat", sans-serif;
}




.hero p {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 2;
    color: black;
}